
.d-flex{
    overflow-x: auto ;
}

.d-flex::-webkit-scrollbar{
    scrollbar-width: 100px;
    /* scrollbar-color: rgb(250, 246, 246) rgb(26, 25, 25); */
    /* background-color: aqua; */
}

.d-flex .col-12 .card{
    /* min-width: 150px;
    height: 100px;
    background: yellow;
    margin: 10px; */
    /* height: 400px; */

    background-color: rgb(139, 137, 1);
    margin-right: 20px;
    min-width: 150px;
    
    min-height: 150px;
}
